/* General */
body{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}
a{
  color: #737373;
  text-decoration: none;
}
a:hover{
  font-weight: bolder;
  color: #0a0b0d;
}
a i.fas{
  color: #737373;
}
a:hover i.fas{
  font-weight: bolder;
  color: #0a0b0d;
}
a.active{
  font-weight: bolder;
  color: #0a0b0d;
}
a.active i.fas{
  font-weight: bolder;
  color: #0a0b0d;
}
/* Forms */
/* input[type="checkbox"]{
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 40px;
  border: 2px solid #d9d9d9;
  outline: none;
  border-radius: 30px;
  transition: .3s;
  position: relative;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 34px;
  height: 34px;
  background: #cccccc;
  border-radius: 50%;
  transition: .3s ease;
}

input[type="checkbox"]:checked:before{
  transform: translateX(60px);
  background: #0560fd;
}

input[type="checkbox"]:checked{
  border-color: #0560fd;
} */
/* Sidebar */
#sidebar{
  background: #fefefe;
  height: 100vh;
  width: 300px;
  border: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}
#sidebar .logo-img{
  width: 32px;
  margin-right: 5px;
}
#sidebar .logo-container{
  font-weight: bold;
}

#sidebar .toggle-menu{
  background-color: #0560fd;
  color: #fff;
  padding: 5px;
  border-radius: 25px;
  width: 32px;
  height: 32px;
  text-align: center; 
  font-size: 16px;
  transition: .3s;
}

#sidebar .circle-num{
  background-color: #0560fd;
  color: #fff;
  width: 24px;
  height: 24px;
  text-align: center; 
  font-size: 12px;
  border-radius: 25px;
  padding: 3px;
}

#sidebar .toggle-menu i{
  color: #fff;
}

#sidebar .nav-menu{
  list-style: none;
  padding: 0;
}

#sidebar .nav-menu .nav-menu-item{
  padding: 10px 0px;
}

#sidebar .nav-menu .nav-menu-item a i{
  padding: 0px 20px 0px 10px;
}

.separator{
  border-top: 1px solid #eee;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
#sidebar.close{
  width: 80px;
}
#sidebar.close .nav-menu .nav-menu-item{
  overflow: hidden;
}
#sidebar.close .menu-text{
  display: none;
}
#sidebar.close .circle-num{
  display: none;
}

#sidebar.close .toggle-menu{
  position: absolute;
  left: 64px;
}

#sidebar .donate-button{
  /* bottom: 10px; */
  /* position: absolute; */
}

/* Main navbar */
#main-navbar{
  background: #fefefe;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #eee;
}

/* Body */
#wrapper{
  margin-left: 300px;
}

#wrapper #content{
  padding: 20px;
}

#wrapper.full{
  margin-left: 80px;
}
#content{
  background-color: #e9ecef;
}
/* Bootstrap overwrite */

.btn-outline-primary {
  color: #0560fd;
  border-color: #0560fd;
}
.btn{
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Chart */
.chart-container {
  width: 100%;
  height: 50%;
  margin: auto;
  padding: 10px;
}

.mobile-not-show{
  display: initial;
}

@media only screen and (max-width: 414px) {
  .mobile-not-show{
    display: none;
  } 
}